@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBFEFB;
  --foreground: #2A2A2A;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
